h1{
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	font-size: 50px;
}

h2{
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	font-size: 40px;
}


#symbol_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#c-align {
    text-align: center;
    border: 1px solid black;
    /* to set the border*/
}